* {
    box-sizing: border-box;
}

#appName {
    text-align: center;
}

#mainContent {
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

#projects {
    display: flex;
    flex-direction: column;
}

#newProjectForm {
    display: flex;
    width: 500px;
    justify-content: center;
    margin-bottom: 5px;
}

.form {
    display: flex;
}

.spanDiv {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.description {
color: black;
}

.deadline {
color: black;
}

.priority {
color: black;
}

.submit {
color: black;
}

.spanDiv {
color: black;
}

.todosDiv {
color: black;
}

.todoList {
color: black;
}

.todoButton {
 color: black;   
}

.project {
    border: solid grey 1px;
    padding: 5px;
    margin-bottom: 5px;
}

li {
    display: flex;
    width: 200px;
    justify-content: space-between;
}